
@{
    ViewData["Title"] = "MyAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    img{
        width: 150px;
        height: 150px;
    }
</style>

<h2>MyAccount</h2>
<div class="container-fluid">
    <div class="col-sm-7">
        <table class="table">
            <tr>
                <th>Nick:</th>
                <th>@ViewData["User"]</th>
            </tr>
            <tr>
                <th>First Name:</th>
                <th>@ViewData["FirstName"]</th>
            </tr>
            <tr>
                <th>Last Name:</th>
                <th>@ViewData["LastName"]</th>
            </tr>
            <tr>
                <th>E-mail adress:</td>
                <th>@ViewData["EmailAdress"]</th>
            </tr>
        </table>
    </div>
    <div class="col-sm-2">
        <img src="@ViewBag.AvatarLink" />
    </div>
</div>
<a asp-controller="Panel" asp-action="Edit" class="btn btn-info">Edit Profile</a>
