<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Smitair</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/scss/styleLayout.css" />
</head>
<body>
    <div class="upper">
        <div class="logo">
            <img src="~/images/logo.svg">
        </div>
        @*<div class="language">
                <a href="">PL</a>|
                <a href="">EN</a>
            </div>*@
        @*<div class="logout">
                <a href="">Logout</a>
            </div>*@
        @*<div class="mail">
                <img src="@ViewBag.AvatarLink" class="avatar" />
                    Hello @ViewBag.FirstName! (@ViewBag.EmailAdress)&nbsp;&nbsp;
                    <a asp-controller="Home" asp-action="Index" data-toggle="tooltip" title="Log out"><span class="glyphicon glyphicon-log-out" style="color: #FFFFFF; font-size:13px;"></span></a>
                    &nbsp;
            </div>*@
            @await Html.PartialAsync("_LoginPartial")
    </div>

    <br /><br />
    @RenderBody()

    <footer class="container-fluid text-center">
        <p>&copy; 2017 - SmitairDOTNET</p>
    </footer>



    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
